.chat-button {
  position: fixed;
  width: 64px;
  height: 64px;
  bottom: 20px;
  right: 10px;
  outline: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
}

.chat-button__icon {
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  background-color: #343a40;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.chat-button__icon:hover {
  filter: brightness(1.2);
}

.chat-button__icon svg {
  fill: white;
  width: 24px;
  height: 24px;
}
